<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
	<div th:replace="fragments.html :: main-nav"></div>

	<div class="py-5 text-center" th:if="${error != null}">
		<div class="alert alert-danger" role="alert" th:text="${error}"></div>
		<p class="lead" th:text="${email}"></p>
	</div>

	<div class="py-5 text-center" th:if="${error == null}">
		<p class="lead">이메일 확인</p>
		<h2>이메일을 보냈습니다.</h2>
		<h3>
			수신자: <span th:text="${email}"></span>
		</h3>
		<h3>
			<a th:href="@{/resend-confirm-email}">이메일 다시보내기</a>
		</h3>
	</div>

	<div th:replace="fragments.html :: footer"></div>
</body>
</html>